body {
    text-align: center;
    background-color: black;
}

#container {
    display:flex;
    align-items: center;
    justify-content: center;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 0px;
    height: 0px;
    flex-direction: row;
}

.cell {
    width: 46px;
    height: 46px;
    background-color: lightblue;
    border: 2px solid #000000;
    border-radius: 8px;
    cursor: pointer;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

#heading {
    font-family: Arial, sans-serif;
    text-align: center;
}

#win {
    font-family: Arial, sans-serif;
    font-size: 100px;
    color: #ffffff;
}
