body {
    text-align: center;

}

#container {
    display:flex;
    align-items: center;
    justify-content: center;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 0px;
    height: 0px;
    flex-direction: row;
}

.cell {
    width: 48px;
    height: 48px;
    background-color: lightblue;
    border: 1px solid #000;
    cursor: pointer;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

#heading {
    font-family: Arial, sans-serif;
    text-align: center;
}
